*{
  background-color: black;
  
}
h1.Titulo_Principal{
  display: flex;
  background-color: transparent;
  font-size: 80px;
  justify-content: center;
  font-family: monospace; /* Utiliza una fuente monoespaciada */
  color: white; /* Utiliza un color verde típico de muchas terminales */
  margin-bottom: 0px;
  transform: translateY(-105%)
  
}
.imagen {
  width: 100%; /* Cambia el ancho según lo necesites */
  height: 200; /* Altura automática para mantener la proporción */
  object-fit: cover;
}

.Contenedor_Botones{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  
}
.botonesinicio{
  border-radius: 10px;
  background-color: white;
  font-size: 25px;
  width: 600px; 
  height: 50px;
}

.botonesinicio:hover{
  background-color: rgb(224, 224, 224);
}

i{
  background-color: transparent;
}

.CotenedorPosts{
  margin-top: 100px;
  margin-right: 200px;
}

.post{
  background-color: #101214;
  height: 900px;
  margin-left: 10px;
  border-radius: 7px;
  display: grid;
  width: 900px; 
  grid-template-rows: 1fr 2fr 6fr 1fr;
}
.post:hover{
  background-color: #1b1e22;
}
.titulo{
  grid-row: 1;
  font-size: 40px;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.brief{
  grid-row: 2;
  font-size: 20px;
  background-color: transparent;
  color: lightgray;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.imagenpost{
  grid-row: 3;
  background-color: transparent;
  width: 850px;
  height: 550px;
  margin-left: 20px;
  object-fit: cover;
}

.botonarea{
  margin-top: 10px;
  grid-row: 4;
  background-color: transparent;
}

.edit, .delete {
  width: 100px;
  height: 50px;
  background-color: #232629;
  border-radius: 20px;
  margin-left: 10px;
  border-color: transparent;
}

i.bottonicono{
  color: #888a8d;
  font-size: 30px;
}

.edit:hover , .delete:hover {
  background-color: #404447;
}

